# Neon CLI remplit automatiquement ces variables dans .env après `neon link` :
# NEON_BRANCH, DATABASE_URL, DATABASE_URL_UNPOOLED

# À ajouter manuellement :
AUTH_SECRET="remplace-par-une-chaine-longue-et-secrete-minimum-32-caracteres"
INVITE_CODE="4A-INFO"

# Si tu configures Neon à la main (sans `neon link`), définis aussi :
# DATABASE_URL="postgresql://...-pooler.../neondb?sslmode=require"
# DATABASE_URL_UNPOOLED="postgresql://...sans-pooler.../neondb?sslmode=require"
